{
  "openapi": "3.1.1",
  "info": {
    "title": "Twenty Api",
    "description": "Use this page to explore and call the **REST API**. \n\n## Authentication\n\nSend a Bearer token with each request:\n\n```http\nAuthorization: Bearer \u003Ctoken\u003E\n```\n\nExample cURL:\n\n```bash\ncurl -H 'Authorization: Bearer \u003Ctoken\u003E' \u003Cserver\u003E/rest/core/companies\n```\n\nTokens can be generated in Settings → Playground and are workspace-scoped.\n\n\n## Filters\n\nUse the `filter` query parameter to narrow results.\n\n- Format: `field[COMPARATOR]:value`\n- Multiple conditions: `field1[eq]:1,field2[gte]:10` (root conjunction is AND)\n- Composite fields: `field.subField[COMPARATOR]:value`\n- Common comparators: `eq`, `neq`, `in`, `containsAny`, `is`, `gt`, `gte`, `lt`, `lte`, `startsWith`, `like`, `ilike`\n\nExamples:\n\n```text\nfilter=status[eq]:\"open\"\nfilter=createdAt[gte]:\"2024-01-01\"\nfilter=owner.name[ilike]:\"%smith%\"\nfilter=id[in]:[\"id-1\",\"id-2\"]\nfilter=deletedAt[is]:NULL\nfilter=isActive[eq]:true\n```\n\nAdvanced (optional): `and(...)`, `or(...)`, `not(...)` (`not` wraps one condition)\n\n```text\nfilter=or(status[eq]:\"open\",assigneeId[is]:NULL)\n```\n\nNotes: Strings and dates are quoted; numbers are not.\n\n## Pagination and ordering\n\nAll list endpoints use cursor-based pagination.\n\n- Use **limit** to cap page size (default: 60, max: 60).\n- Use **starting_after** to fetch the next page (forward).\n- Use **ending_before** to fetch the previous page (backward).\n- Responses include **pageInfo** with `hasNextPage`, `startCursor`, and `endCursor`.\n\nExamples:\n\n```bash\n# First page\ncurl -H 'Authorization: Bearer \u003Ctoken\u003E' \\\n  '\u003Cserver\u003E/rest/core/companies?limit=60'\n\n# Next page\ncurl -H 'Authorization: Bearer \u003Ctoken\u003E' \\\n  '\u003Cserver\u003E/rest/core/companies?limit=60&starting_after=\u003CendCursorFromPreviousPage\u003E'\n\n# Previous page\ncurl -H 'Authorization: Bearer \u003Ctoken\u003E' \\\n  '\u003Cserver\u003E/rest/core/companies?limit=60&ending_before=\u003CstartCursorFromCurrentPage\u003E'\n```\n\nYou can combine pagination with filters and ordering.\n\nOrdering with `order_by`:\n- Shape: `field1,field2[DIRECTION2]`\n- Directions: AscNullsFirst, AscNullsLast, DescNullsFirst, DescNullsLast\n- Default per-field direction: AscNullsFirst\n\nExamples:\n```text\norder_by=createdAt\norder_by=id[AscNullsFirst],createdAt[DescNullsLast]\n```\n\n## Usage with LLMs\n\nYou can use AI to generate code based on the OpenAPI schema with the following URLs:\n\n```text\nCore: https://20.techpranee.com/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0YTU5NmViMi1iMWJjLTQyZTgtODhhOS0wYTc3YTRiZTNkM2UiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiNGE1OTZlYjItYjFiYy00MmU4LTg4YTktMGE3N2E0YmUzZDNlIiwiaWF0IjoxNzU5NjkwNzM4LCJleHAiOjQ5MTMyOTA3MzcsImp0aSI6IjE3ZDMyZmRlLTNhNDgtNGI3Ny04NWE1LTI3NGZhYzc0ZTE5YiJ9.UKk8s9LBc_zWOBbyZh_djFj2pGSmBknD1QVSNclWJ3Q\nMetadata: https://20.techpranee.com/rest/open-api/metadata?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0YTU5NmViMi1iMWJjLTQyZTgtODhhOS0wYTc3YTRiZTNkM2UiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiNGE1OTZlYjItYjFiYy00MmU4LTg4YTktMGE3N2E0YmUzZDNlIiwiaWF0IjoxNzU5NjkwNzM4LCJleHAiOjQ5MTMyOTA3MzcsImp0aSI6IjE3ZDMyZmRlLTNhNDgtNGI3Ny04NWE1LTI3NGZhYzc0ZTE5YiJ9.UKk8s9LBc_zWOBbyZh_djFj2pGSmBknD1QVSNclWJ3Q\n```\n\nQuick prompt example (Cursor or any agent):\n\n```text\nHere is an OpenAPI schema for the Twenty REST API:\nhttps://20.techpranee.com/rest/open-api/core?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0YTU5NmViMi1iMWJjLTQyZTgtODhhOS0wYTc3YTRiZTNkM2UiLCJ0eXBlIjoiQVBJX0tFWSIsIndvcmtzcGFjZUlkIjoiNGE1OTZlYjItYjFiYy00MmU4LTg4YTktMGE3N2E0YmUzZDNlIiwiaWF0IjoxNzU5NjkwNzM4LCJleHAiOjQ5MTMyOTA3MzcsImp0aSI6IjE3ZDMyZmRlLTNhNDgtNGI3Ny04NWE1LTI3NGZhYzc0ZTE5YiJ9.UKk8s9LBc_zWOBbyZh_djFj2pGSmBknD1QVSNclWJ3Q\n\nUse it to list companies created after 2024-01-01, ordered by createdAt desc, and include only 20 results.\n```\n\nNotes:\n- Treat the token like a secret; prefer a short-lived Playground token.\n- Most editors can fetch and process the schema even if it's large.\n",
    "termsOfService": "https://github.com/twentyhq/twenty?tab=coc-ov-file#readme",
    "contact": {
      "email": "felix@twenty.com"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://github.com/twentyhq/twenty?tab=License-1-ov-file#readme"
    },
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "https://20.techpranee.com/rest/",
      "description": "Production Development"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Enter the token with the `Bearer: ` prefix, e.g. \"Bearer abcde12345\"."
      }
    },
    "schemas": {
      "Attachment": {
        "type": "object",
        "description": "An attachment",
        "properties": {
          "fullPath": {
            "type": "string",
            "description": "Attachment full path"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "type": {
            "type": "string",
            "description": "Attachment type"
          },
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "authorId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "name": "Attachment name"
        }
      },
      "AttachmentForUpdate": {
        "type": "object",
        "description": "An attachment",
        "properties": {
          "fullPath": {
            "type": "string",
            "description": "Attachment full path"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "type": {
            "type": "string",
            "description": "Attachment type"
          },
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "authorId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "name": "Attachment name"
        }
      },
      "AttachmentForResponse": {
        "type": "object",
        "description": "An attachment",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "fullPath": {
            "type": "string",
            "description": "Attachment full path"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string",
            "description": "Attachment name"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "type": {
            "type": "string",
            "description": "Attachment type"
          },
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "authorId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "opportunity": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/OpportunityForResponse"
              }
            ],
            "description": "Attachment opportunity"
          },
          "workflow": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkflowForResponse"
              }
            ],
            "description": "Attachment workflow"
          },
          "leadsLinkedinScraping": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/LeadsLinkedinScrapingForResponse"
              }
            ],
            "description": "Attachments Leads - LinkedIn Scraping"
          },
          "note": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoteForResponse"
              }
            ],
            "description": "Attachment note"
          },
          "task": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TaskForResponse"
              }
            ],
            "description": "Attachment task"
          },
          "author": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "Attachment author"
          },
          "person": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonForResponse"
              }
            ],
            "description": "Attachment person"
          },
          "company": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CompanyForResponse"
              }
            ],
            "description": "Attachment company"
          }
        }
      },
      "Blocklist": {
        "type": "object",
        "description": "Blocklist",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          }
        },
        "example": {

        }
      },
      "BlocklistForUpdate": {
        "type": "object",
        "description": "Blocklist",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          }
        },
        "example": {

        }
      },
      "BlocklistForResponse": {
        "type": "object",
        "description": "Blocklist",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "workspaceMember": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "WorkspaceMember"
          }
        }
      },
      "CalendarChannelEventAssociation": {
        "type": "object",
        "description": "Calendar Channel Event Associations",
        "properties": {
          "calendarChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventExternalId": {
            "type": "string",
            "description": "Event external ID"
          },
          "recurringEventExternalId": {
            "type": "string",
            "description": "Recurring Event ID"
          }
        },
        "example": {

        }
      },
      "CalendarChannelEventAssociationForUpdate": {
        "type": "object",
        "description": "Calendar Channel Event Associations",
        "properties": {
          "calendarChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventExternalId": {
            "type": "string",
            "description": "Event external ID"
          },
          "recurringEventExternalId": {
            "type": "string",
            "description": "Recurring Event ID"
          }
        },
        "example": {

        }
      },
      "CalendarChannelEventAssociationForResponse": {
        "type": "object",
        "description": "Calendar Channel Event Associations",
        "properties": {
          "calendarChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          },
          "eventExternalId": {
            "type": "string",
            "description": "Event external ID"
          },
          "recurringEventExternalId": {
            "type": "string",
            "description": "Recurring Event ID"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "calendarChannel": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CalendarChannelForResponse"
              }
            ],
            "description": "Channel ID"
          },
          "calendarEvent": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CalendarEventForResponse"
              }
            ],
            "description": "Event ID"
          }
        }
      },
      "CalendarChannel": {
        "type": "object",
        "description": "Calendar Channels",
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStage": {
            "type": "string",
            "enum": [
              "CALENDAR_EVENT_LIST_FETCH_PENDING",
              "CALENDAR_EVENT_LIST_FETCH_SCHEDULED",
              "CALENDAR_EVENT_LIST_FETCH_ONGOING",
              "CALENDAR_EVENTS_IMPORT_PENDING",
              "CALENDAR_EVENTS_IMPORT_SCHEDULED",
              "CALENDAR_EVENTS_IMPORT_ONGOING",
              "FAILED",
              "FULL_CALENDAR_EVENT_LIST_FETCH_PENDING",
              "PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"
            ],
            "description": "Sync stage"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "METADATA",
              "SHARE_EVERYTHING"
            ],
            "description": "Visibility"
          },
          "isContactAutoCreationEnabled": {
            "type": "boolean",
            "description": "Is Contact Auto Creation Enabled"
          },
          "contactAutoCreationPolicy": {
            "type": "string",
            "enum": [
              "AS_PARTICIPANT_AND_ORGANIZER",
              "AS_PARTICIPANT",
              "AS_ORGANIZER",
              "NONE"
            ],
            "description": "Automatically create records for people you participated with in an event."
          },
          "isSyncEnabled": {
            "type": "boolean",
            "description": "Is Sync Enabled"
          },
          "syncCursor": {
            "type": "string",
            "description": "Sync Cursor. Used for syncing events from the calendar provider"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync date"
          },
          "syncStageStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Sync stage started at"
          },
          "throttleFailureCount": {
            "type": "integer",
            "description": "Throttle Failure Count"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "ONGOING",
              "NOT_SYNCED",
              "ACTIVE",
              "FAILED_INSUFFICIENT_PERMISSIONS",
              "FAILED_UNKNOWN"
            ],
            "description": "Sync status"
          }
        },
        "example": {
          "syncStage": [
            "CALENDAR_EVENT_LIST_FETCH_PENDING"
          ],
          "visibility": [
            "METADATA"
          ],
          "contactAutoCreationPolicy": [
            "AS_PARTICIPANT_AND_ORGANIZER"
          ],
          "syncStatus": [
            "ONGOING"
          ]
        }
      },
      "CalendarChannelForUpdate": {
        "type": "object",
        "description": "Calendar Channels",
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStage": {
            "type": "string",
            "enum": [
              "CALENDAR_EVENT_LIST_FETCH_PENDING",
              "CALENDAR_EVENT_LIST_FETCH_SCHEDULED",
              "CALENDAR_EVENT_LIST_FETCH_ONGOING",
              "CALENDAR_EVENTS_IMPORT_PENDING",
              "CALENDAR_EVENTS_IMPORT_SCHEDULED",
              "CALENDAR_EVENTS_IMPORT_ONGOING",
              "FAILED",
              "FULL_CALENDAR_EVENT_LIST_FETCH_PENDING",
              "PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"
            ],
            "description": "Sync stage"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "METADATA",
              "SHARE_EVERYTHING"
            ],
            "description": "Visibility"
          },
          "isContactAutoCreationEnabled": {
            "type": "boolean",
            "description": "Is Contact Auto Creation Enabled"
          },
          "contactAutoCreationPolicy": {
            "type": "string",
            "enum": [
              "AS_PARTICIPANT_AND_ORGANIZER",
              "AS_PARTICIPANT",
              "AS_ORGANIZER",
              "NONE"
            ],
            "description": "Automatically create records for people you participated with in an event."
          },
          "isSyncEnabled": {
            "type": "boolean",
            "description": "Is Sync Enabled"
          },
          "syncCursor": {
            "type": "string",
            "description": "Sync Cursor. Used for syncing events from the calendar provider"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync date"
          },
          "syncStageStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Sync stage started at"
          },
          "throttleFailureCount": {
            "type": "integer",
            "description": "Throttle Failure Count"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "ONGOING",
              "NOT_SYNCED",
              "ACTIVE",
              "FAILED_INSUFFICIENT_PERMISSIONS",
              "FAILED_UNKNOWN"
            ],
            "description": "Sync status"
          }
        },
        "example": {
          "syncStage": [
            "CALENDAR_EVENT_LIST_FETCH_PENDING"
          ],
          "visibility": [
            "METADATA"
          ],
          "contactAutoCreationPolicy": [
            "AS_PARTICIPANT_AND_ORGANIZER"
          ],
          "syncStatus": [
            "ONGOING"
          ]
        }
      },
      "CalendarChannelForResponse": {
        "type": "object",
        "description": "Calendar Channels",
        "properties": {
          "connectedAccountId": {
            "type": "string",
            "format": "uuid"
          },
          "syncStage": {
            "type": "string",
            "enum": [
              "CALENDAR_EVENT_LIST_FETCH_PENDING",
              "CALENDAR_EVENT_LIST_FETCH_SCHEDULED",
              "CALENDAR_EVENT_LIST_FETCH_ONGOING",
              "CALENDAR_EVENTS_IMPORT_PENDING",
              "CALENDAR_EVENTS_IMPORT_SCHEDULED",
              "CALENDAR_EVENTS_IMPORT_ONGOING",
              "FAILED",
              "FULL_CALENDAR_EVENT_LIST_FETCH_PENDING",
              "PARTIAL_CALENDAR_EVENT_LIST_FETCH_PENDING"
            ],
            "description": "Sync stage"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "METADATA",
              "SHARE_EVERYTHING"
            ],
            "description": "Visibility"
          },
          "isContactAutoCreationEnabled": {
            "type": "boolean",
            "description": "Is Contact Auto Creation Enabled"
          },
          "contactAutoCreationPolicy": {
            "type": "string",
            "enum": [
              "AS_PARTICIPANT_AND_ORGANIZER",
              "AS_PARTICIPANT",
              "AS_ORGANIZER",
              "NONE"
            ],
            "description": "Automatically create records for people you participated with in an event."
          },
          "isSyncEnabled": {
            "type": "boolean",
            "description": "Is Sync Enabled"
          },
          "syncCursor": {
            "type": "string",
            "description": "Sync Cursor. Used for syncing events from the calendar provider"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync date"
          },
          "syncStageStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Sync stage started at"
          },
          "throttleFailureCount": {
            "type": "integer",
            "description": "Throttle Failure Count"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "ONGOING",
              "NOT_SYNCED",
              "ACTIVE",
              "FAILED_INSUFFICIENT_PERMISSIONS",
              "FAILED_UNKNOWN"
            ],
            "description": "Sync status"
          },
          "connectedAccount": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/ConnectedAccountForResponse"
              }
            ],
            "description": "Connected Account"
          },
          "calendarChannelEventAssociations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarChannelEventAssociationForResponse"
            },
            "description": "Calendar Channel Event Associations"
          }
        }
      },
      "CalendarEventParticipant": {
        "type": "object",
        "description": "Calendar event participants",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "displayName": {
            "type": "string",
            "description": "Display Name"
          },
          "isOrganizer": {
            "type": "boolean",
            "description": "Is Organizer"
          },
          "responseStatus": {
            "type": "string",
            "enum": [
              "NEEDS_ACTION",
              "DECLINED",
              "TENTATIVE",
              "ACCEPTED"
            ],
            "description": "Response Status"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "responseStatus": [
            "NEEDS_ACTION"
          ]
        }
      },
      "CalendarEventParticipantForUpdate": {
        "type": "object",
        "description": "Calendar event participants",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "displayName": {
            "type": "string",
            "description": "Display Name"
          },
          "isOrganizer": {
            "type": "boolean",
            "description": "Is Organizer"
          },
          "responseStatus": {
            "type": "string",
            "enum": [
              "NEEDS_ACTION",
              "DECLINED",
              "TENTATIVE",
              "ACCEPTED"
            ],
            "description": "Response Status"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "responseStatus": [
            "NEEDS_ACTION"
          ]
        }
      },
      "CalendarEventParticipantForResponse": {
        "type": "object",
        "description": "Calendar event participants",
        "properties": {
          "workspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "displayName": {
            "type": "string",
            "description": "Display Name"
          },
          "isOrganizer": {
            "type": "boolean",
            "description": "Is Organizer"
          },
          "responseStatus": {
            "type": "string",
            "enum": [
              "NEEDS_ACTION",
              "DECLINED",
              "TENTATIVE",
              "ACCEPTED"
            ],
            "description": "Response Status"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "calendarEventId": {
            "type": "string",
            "format": "uuid"
          },
          "workspaceMember": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "Workspace Member"
          },
          "person": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonForResponse"
              }
            ],
            "description": "Person"
          },
          "calendarEvent": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CalendarEventForResponse"
              }
            ],
            "description": "Event ID"
          }
        }
      },
      "CalendarEvent": {
        "type": "object",
        "description": "Calendar events",
        "properties": {
          "conferenceSolution": {
            "type": "string",
            "description": "Conference Solution"
          },
          "iCalUID": {
            "type": "string",
            "description": "iCal UID"
          },
          "location": {
            "type": "string",
            "description": "Location"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "externalUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update DateTime"
          },
          "externalCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation DateTime"
          },
          "endsAt": {
            "type": "string",
            "format": "date-time",
            "description": "End Date"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Start Date"
          },
          "isCanceled": {
            "type": "boolean",
            "description": "Is canceled"
          },
          "isFullDay": {
            "type": "boolean",
            "description": "Is Full Day"
          },
          "title": {
            "type": "string",
            "description": "Title"
          },
          "conferenceLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Meet Link"
          }
        },
        "example": {
          "conferenceLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://steel-pinstripe.name",
            "additionalLinks": []
          }
        }
      },
      "CalendarEventForUpdate": {
        "type": "object",
        "description": "Calendar events",
        "properties": {
          "conferenceSolution": {
            "type": "string",
            "description": "Conference Solution"
          },
          "iCalUID": {
            "type": "string",
            "description": "iCal UID"
          },
          "location": {
            "type": "string",
            "description": "Location"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "externalUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update DateTime"
          },
          "externalCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation DateTime"
          },
          "endsAt": {
            "type": "string",
            "format": "date-time",
            "description": "End Date"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Start Date"
          },
          "isCanceled": {
            "type": "boolean",
            "description": "Is canceled"
          },
          "isFullDay": {
            "type": "boolean",
            "description": "Is Full Day"
          },
          "title": {
            "type": "string",
            "description": "Title"
          },
          "conferenceLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Meet Link"
          }
        },
        "example": {
          "conferenceLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://honored-wheel.info/",
            "additionalLinks": []
          }
        }
      },
      "CalendarEventForResponse": {
        "type": "object",
        "description": "Calendar events",
        "properties": {
          "conferenceSolution": {
            "type": "string",
            "description": "Conference Solution"
          },
          "iCalUID": {
            "type": "string",
            "description": "iCal UID"
          },
          "location": {
            "type": "string",
            "description": "Location"
          },
          "description": {
            "type": "string",
            "description": "Description"
          },
          "externalUpdatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Update DateTime"
          },
          "externalCreatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation DateTime"
          },
          "endsAt": {
            "type": "string",
            "format": "date-time",
            "description": "End Date"
          },
          "startsAt": {
            "type": "string",
            "format": "date-time",
            "description": "Start Date"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "isCanceled": {
            "type": "boolean",
            "description": "Is canceled"
          },
          "isFullDay": {
            "type": "boolean",
            "description": "Is Full Day"
          },
          "title": {
            "type": "string",
            "description": "Title"
          },
          "conferenceLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Meet Link"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "calendarEventParticipants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarEventParticipantForResponse"
            },
            "description": "Event Participants"
          },
          "calendarChannelEventAssociations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarChannelEventAssociationForResponse"
            },
            "description": "Calendar Channel Event Associations"
          }
        }
      },
      "Company": {
        "type": "object",
        "description": "A company",
        "properties": {
          "domainName": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company website URL. We use this url to fetch the company icon"
          },
          "employees": {
            "type": "integer",
            "description": "Number of employees in the company"
          },
          "linkedinLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Linkedin account"
          },
          "xLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Twitter/X account"
          },
          "annualRecurringRevenue": {
            "type": "object",
            "properties": {
              "amountMicros": {
                "type": "number"
              },
              "currencyCode": {
                "type": "string"
              }
            },
            "description": "Annual Recurring Revenue: The actual or estimated annual revenue of the company"
          },
          "address": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            },
            "description": "Address of the company"
          },
          "idealCustomerProfile": {
            "type": "boolean",
            "description": "Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"
          },
          "position": {
            "type": "number",
            "description": "Company record position"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              }
            },
            "description": "The creator of the record"
          },
          "name": {
            "type": "string",
            "description": "The company name"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "domainName": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://left-descendant.net/",
            "additionalLinks": []
          },
          "linkedinLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://distant-vol.com/",
            "additionalLinks": []
          },
          "xLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://well-worn-octave.com/",
            "additionalLinks": []
          },
          "annualRecurringRevenue": {
            "amountMicros": 299000000,
            "currencyCode": "EUR"
          },
          "name": "Company name"
        }
      },
      "CompanyForUpdate": {
        "type": "object",
        "description": "A company",
        "properties": {
          "domainName": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company website URL. We use this url to fetch the company icon"
          },
          "employees": {
            "type": "integer",
            "description": "Number of employees in the company"
          },
          "linkedinLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Linkedin account"
          },
          "xLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Twitter/X account"
          },
          "annualRecurringRevenue": {
            "type": "object",
            "properties": {
              "amountMicros": {
                "type": "number"
              },
              "currencyCode": {
                "type": "string"
              }
            },
            "description": "Annual Recurring Revenue: The actual or estimated annual revenue of the company"
          },
          "address": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            },
            "description": "Address of the company"
          },
          "idealCustomerProfile": {
            "type": "boolean",
            "description": "Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"
          },
          "position": {
            "type": "number",
            "description": "Company record position"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              }
            },
            "description": "The creator of the record"
          },
          "name": {
            "type": "string",
            "description": "The company name"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "domainName": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://phony-monocle.net/",
            "additionalLinks": []
          },
          "linkedinLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://muddy-deed.name",
            "additionalLinks": []
          },
          "xLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://empty-bowler.biz",
            "additionalLinks": []
          },
          "annualRecurringRevenue": {
            "amountMicros": 467000000,
            "currencyCode": "EUR"
          },
          "name": "Company name"
        }
      },
      "CompanyForResponse": {
        "type": "object",
        "description": "A company",
        "properties": {
          "domainName": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company website URL. We use this url to fetch the company icon"
          },
          "employees": {
            "type": "integer",
            "description": "Number of employees in the company"
          },
          "linkedinLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Linkedin account"
          },
          "xLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "The company Twitter/X account"
          },
          "annualRecurringRevenue": {
            "type": "object",
            "properties": {
              "amountMicros": {
                "type": "number"
              },
              "currencyCode": {
                "type": "string"
              }
            },
            "description": "Annual Recurring Revenue: The actual or estimated annual revenue of the company"
          },
          "address": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            },
            "description": "Address of the company"
          },
          "idealCustomerProfile": {
            "type": "boolean",
            "description": "Ideal Customer Profile:  Indicates whether the company is the most suitable and valuable customer for you"
          },
          "position": {
            "type": "number",
            "description": "Company record position"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              },
              "workspaceMemberId": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              }
            },
            "description": "The creator of the record"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "name": {
            "type": "string",
            "description": "The company name"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          },
          "people": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonForResponse"
            },
            "description": "People linked to the company."
          },
          "timelineActivities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimelineActivityForResponse"
            },
            "description": "Timeline Activities linked to the company"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachmentForResponse"
            },
            "description": "Attachments linked to the company"
          },
          "favorites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FavoriteForResponse"
            },
            "description": "Favorites linked to the company"
          },
          "opportunities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/OpportunityForResponse"
            },
            "description": "Opportunities linked to the company."
          },
          "noteTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoteTargetForResponse"
            },
            "description": "Notes tied to the company"
          },
          "taskTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTargetForResponse"
            },
            "description": "Tasks tied to the company"
          },
          "accountOwner": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "Your team member responsible for managing the company account"
          },
          "name1": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadsLinkedinScrapingForResponse"
            }
          }
        }
      },
      "ConnectedAccount": {
        "type": "object",
        "description": "A connected account",
        "properties": {
          "handleAliases": {
            "type": "string",
            "description": "Handle Aliases"
          },
          "authFailedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Auth failed at"
          },
          "lastSyncHistoryId": {
            "type": "string",
            "description": "Last sync history ID"
          },
          "refreshToken": {
            "type": "string",
            "description": "Messaging provider refresh token"
          },
          "accessToken": {
            "type": "string",
            "description": "Messaging provider access token"
          },
          "provider": {
            "type": "string",
            "description": "The account provider"
          },
          "handle": {
            "type": "string",
            "description": "The account handle (email, username, phone number, etc.)"
          },
          "connectionParameters": {
            "type": "object",
            "description": "JSON object containing custom connection parameters"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes"
          }
        },
        "example": {

        }
      },
      "ConnectedAccountForUpdate": {
        "type": "object",
        "description": "A connected account",
        "properties": {
          "handleAliases": {
            "type": "string",
            "description": "Handle Aliases"
          },
          "authFailedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Auth failed at"
          },
          "lastSyncHistoryId": {
            "type": "string",
            "description": "Last sync history ID"
          },
          "refreshToken": {
            "type": "string",
            "description": "Messaging provider refresh token"
          },
          "accessToken": {
            "type": "string",
            "description": "Messaging provider access token"
          },
          "provider": {
            "type": "string",
            "description": "The account provider"
          },
          "handle": {
            "type": "string",
            "description": "The account handle (email, username, phone number, etc.)"
          },
          "connectionParameters": {
            "type": "object",
            "description": "JSON object containing custom connection parameters"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes"
          }
        },
        "example": {

        }
      },
      "ConnectedAccountForResponse": {
        "type": "object",
        "description": "A connected account",
        "properties": {
          "handleAliases": {
            "type": "string",
            "description": "Handle Aliases"
          },
          "authFailedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Auth failed at"
          },
          "lastSyncHistoryId": {
            "type": "string",
            "description": "Last sync history ID"
          },
          "refreshToken": {
            "type": "string",
            "description": "Messaging provider refresh token"
          },
          "accessToken": {
            "type": "string",
            "description": "Messaging provider access token"
          },
          "provider": {
            "type": "string",
            "description": "The account provider"
          },
          "handle": {
            "type": "string",
            "description": "The account handle (email, username, phone number, etc.)"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "connectionParameters": {
            "type": "object",
            "description": "JSON object containing custom connection parameters"
          },
          "accountOwnerId": {
            "type": "string",
            "format": "uuid"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Scopes"
          },
          "calendarChannels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CalendarChannelForResponse"
            },
            "description": "Calendar Channels"
          },
          "messageChannels": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MessageChannelForResponse"
            },
            "description": "Message Channels"
          },
          "accountOwner": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "Account Owner"
          }
        }
      },
      "FavoriteFolder": {
        "type": "object",
        "description": "A Folder of favorites",
        "properties": {
          "position": {
            "type": "integer",
            "description": "Favorite folder position"
          },
          "name": {
            "type": "string",
            "description": "Name of the favorite folder"
          }
        },
        "example": {
          "name": "Favorite Folder name"
        }
      },
      "FavoriteFolderForUpdate": {
        "type": "object",
        "description": "A Folder of favorites",
        "properties": {
          "position": {
            "type": "integer",
            "description": "Favorite folder position"
          },
          "name": {
            "type": "string",
            "description": "Name of the favorite folder"
          }
        },
        "example": {
          "name": "Favorite Folder name"
        }
      },
      "FavoriteFolderForResponse": {
        "type": "object",
        "description": "A Folder of favorites",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "position": {
            "type": "integer",
            "description": "Favorite folder position"
          },
          "name": {
            "type": "string",
            "description": "Name of the favorite folder"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "favorites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FavoriteForResponse"
            },
            "description": "Favorites in this folder"
          }
        }
      },
      "Favorite": {
        "type": "object",
        "description": "A favorite that can be accessed from the left menu",
        "properties": {
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowRunId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowVersionId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "favoriteFolderId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "forWorkspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "viewId": {
            "type": "string",
            "format": "uuid",
            "description": "ViewId"
          },
          "position": {
            "type": "integer",
            "description": "Favorite position"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {

        }
      },
      "FavoriteForUpdate": {
        "type": "object",
        "description": "A favorite that can be accessed from the left menu",
        "properties": {
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowRunId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowVersionId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "favoriteFolderId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "forWorkspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "viewId": {
            "type": "string",
            "format": "uuid",
            "description": "ViewId"
          },
          "position": {
            "type": "integer",
            "description": "Favorite position"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {

        }
      },
      "FavoriteForResponse": {
        "type": "object",
        "description": "A favorite that can be accessed from the left menu",
        "properties": {
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "noteId": {
            "type": "string",
            "format": "uuid"
          },
          "taskId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowRunId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowVersionId": {
            "type": "string",
            "format": "uuid"
          },
          "workflowId": {
            "type": "string",
            "format": "uuid"
          },
          "opportunityId": {
            "type": "string",
            "format": "uuid"
          },
          "favoriteFolderId": {
            "type": "string",
            "format": "uuid"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "personId": {
            "type": "string",
            "format": "uuid"
          },
          "forWorkspaceMemberId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "viewId": {
            "type": "string",
            "format": "uuid",
            "description": "ViewId"
          },
          "position": {
            "type": "integer",
            "description": "Favorite position"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "leadsLinkedinScrapingId": {
            "type": "string",
            "format": "uuid"
          },
          "note": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/NoteForResponse"
              }
            ],
            "description": "Favorite note"
          },
          "task": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/TaskForResponse"
              }
            ],
            "description": "Favorite task"
          },
          "workflowRun": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkflowRunForResponse"
              }
            ],
            "description": "Favorite workflow run"
          },
          "workflowVersion": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkflowVersionForResponse"
              }
            ],
            "description": "Favorite workflow version"
          },
          "workflow": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkflowForResponse"
              }
            ],
            "description": "Favorite workflow"
          },
          "opportunity": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/OpportunityForResponse"
              }
            ],
            "description": "Favorite opportunity"
          },
          "favoriteFolder": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/FavoriteFolderForResponse"
              }
            ],
            "description": "The folder this favorite belongs to"
          },
          "company": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CompanyForResponse"
              }
            ],
            "description": "Favorite company"
          },
          "person": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonForResponse"
              }
            ],
            "description": "Favorite person"
          },
          "forWorkspaceMember": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/WorkspaceMemberForResponse"
              }
            ],
            "description": "Favorite workspace member"
          },
          "leadsLinkedinScraping": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/LeadsLinkedinScrapingForResponse"
              }
            ],
            "description": "Favorites Leads - LinkedIn Scraping"
          }
        }
      },
      "LeadsLinkedinScraping": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "postUrl": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "jobTitle": {
            "type": "string"
          },
          "authorName": {
            "type": "string"
          },
          "authorHeadline": {
            "type": "string"
          },
          "authorLinkedinProfileId": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jobApplicationLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              }
            },
            "description": "The creator of the record"
          },
          "position": {
            "type": "number",
            "description": "Position"
          }
        },
        "example": {
          "name": "Leads Linkedin Scraping name",
          "postUrl": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://ultimate-hammock.com",
            "additionalLinks": []
          },
          "jobApplicationLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://affectionate-flood.net/",
            "additionalLinks": []
          }
        }
      },
      "LeadsLinkedinScrapingForUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "postUrl": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "jobTitle": {
            "type": "string"
          },
          "authorName": {
            "type": "string"
          },
          "authorHeadline": {
            "type": "string"
          },
          "authorLinkedinProfileId": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jobApplicationLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              }
            },
            "description": "The creator of the record"
          },
          "position": {
            "type": "number",
            "description": "Position"
          }
        },
        "example": {
          "name": "Leads Linkedin Scraping name",
          "postUrl": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://wide-eyed-pronoun.net",
            "additionalLinks": []
          },
          "jobApplicationLink": {
            "primaryLinkLabel": "",
            "primaryLinkUrl": "https://likable-pilot.info",
            "additionalLinks": []
          }
        }
      },
      "LeadsLinkedinScrapingForResponse": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name"
          },
          "companyId": {
            "type": "string",
            "format": "uuid"
          },
          "postUrl": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "jobTitle": {
            "type": "string"
          },
          "authorName": {
            "type": "string"
          },
          "authorHeadline": {
            "type": "string"
          },
          "authorLinkedinProfileId": {
            "type": "string",
            "format": "uuid"
          },
          "location": {
            "type": "object",
            "properties": {
              "addressStreet1": {
                "type": "string"
              },
              "addressStreet2": {
                "type": "string"
              },
              "addressCity": {
                "type": "string"
              },
              "addressPostcode": {
                "type": "string"
              },
              "addressState": {
                "type": "string"
              },
              "addressCountry": {
                "type": "string"
              },
              "addressLat": {
                "type": "number"
              },
              "addressLng": {
                "type": "number"
              }
            }
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "jobApplicationLink": {
            "type": "object",
            "properties": {
              "primaryLinkLabel": {
                "type": "string"
              },
              "primaryLinkUrl": {
                "type": "string"
              },
              "secondaryLinks": {
                "type": "array",
                "items": {
                  "type": "object",
                  "description": "A secondary link",
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri"
                    },
                    "label": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Deletion date"
          },
          "createdBy": {
            "type": "object",
            "properties": {
              "source": {
                "type": "string",
                "enum": [
                  "EMAIL",
                  "CALENDAR",
                  "WORKFLOW",
                  "API",
                  "IMPORT",
                  "MANUAL",
                  "SYSTEM",
                  "WEBHOOK"
                ]
              },
              "workspaceMemberId": {
                "type": "string",
                "format": "uuid"
              },
              "name": {
                "type": "string"
              }
            },
            "description": "The creator of the record"
          },
          "position": {
            "type": "number",
            "description": "Position"
          },
          "company": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/CompanyForResponse"
              }
            ]
          },
          "authorLinkedinProfile": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/PersonForResponse"
              }
            ]
          },
          "timelineActivities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TimelineActivityForResponse"
            },
            "description": "TimelineActivities tied to the Leads - LinkedIn Scraping"
          },
          "favorites": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FavoriteForResponse"
            },
            "description": "Favorites tied to the Leads - LinkedIn Scraping"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AttachmentForResponse"
            },
            "description": "Attachments tied to the Leads - LinkedIn Scraping"
          },
          "noteTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NoteTargetForResponse"
            },
            "description": "NoteTargets tied to the Leads - LinkedIn Scraping"
          },
          "taskTargets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TaskTargetForResponse"
            },
            "description": "TaskTargets tied to the Leads - LinkedIn Scraping"
          }
        }
      },
      "MessageChannelMessageAssociation": {
        "type": "object",
        "description": "Message Synced with a Message Channel",
        "properties": {
          "messageThreadExternalId": {
            "type": "string",
            "description": "Thread id from the messaging provider"
          },
          "direction": {
            "type": "string",
            "enum": [
              "INCOMING",
              "OUTGOING"
            ],
            "description": "Message Direction"
          },
          "messageExternalId": {
            "type": "string",
            "description": "Message id from the messaging provider"
          },
          "messageChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "messageId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "direction": [
            "INCOMING"
          ]
        }
      },
      "MessageChannelMessageAssociationForUpdate": {
        "type": "object",
        "description": "Message Synced with a Message Channel",
        "properties": {
          "messageThreadExternalId": {
            "type": "string",
            "description": "Thread id from the messaging provider"
          },
          "direction": {
            "type": "string",
            "enum": [
              "INCOMING",
              "OUTGOING"
            ],
            "description": "Message Direction"
          },
          "messageExternalId": {
            "type": "string",
            "description": "Message id from the messaging provider"
          },
          "messageChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "messageId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "direction": [
            "INCOMING"
          ]
        }
      },
      "MessageChannelMessageAssociationForResponse": {
        "type": "object",
        "description": "Message Synced with a Message Channel",
        "properties": {
          "messageThreadExternalId": {
            "type": "string",
            "description": "Thread id from the messaging provider"
          },
          "direction": {
            "type": "string",
            "enum": [
              "INCOMING",
              "OUTGOING"
            ],
            "description": "Message Direction"
          },
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Id"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "Creation date"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last time the record was changed"
          },
          "deletedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Date when the record was deleted"
          },
          "messageExternalId": {
            "type": "string",
            "description": "Message id from the messaging provider"
          },
          "messageChannelId": {
            "type": "string",
            "format": "uuid"
          },
          "messageId": {
            "type": "string",
            "format": "uuid"
          },
          "messageChannel": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MessageChannelForResponse"
              }
            ],
            "description": "Message Channel Id"
          },
          "message": {
            "type": "object",
            "oneOf": [
              {
                "$ref": "#/components/schemas/MessageForResponse"
              }
            ],
            "description": "Message Id"
          }
        }
      },
      "MessageChannel": {
        "type": "object",
        "description": "Message Channels",
        "properties": {
          "throttleFailureCount": {
            "type": "integer",
            "description": "Throttle Failure Count"
          },
          "syncStageStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Sync stage started at"
          },
          "syncStage": {
            "type": "string",
            "enum": [
              "MESSAGE_LIST_FETCH_PENDING",
              "MESSAGE_LIST_FETCH_SCHEDULED",
              "MESSAGE_LIST_FETCH_ONGOING",
              "MESSAGES_IMPORT_PENDING",
              "MESSAGES_IMPORT_SCHEDULED",
              "MESSAGES_IMPORT_ONGOING",
              "FAILED",
              "FULL_MESSAGE_LIST_FETCH_PENDING",
              "PARTIAL_MESSAGE_LIST_FETCH_PENDING"
            ],
            "description": "Sync stage"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "ONGOING",
              "NOT_SYNCED",
              "ACTIVE",
              "FAILED_INSUFFICIENT_PERMISSIONS",
              "FAILED_UNKNOWN"
            ],
            "description": "Sync status"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync date"
          },
          "syncCursor": {
            "type": "string",
            "description": "Last sync cursor"
          },
          "isSyncEnabled": {
            "type": "boolean",
            "description": "Is Sync Enabled"
          },
          "excludeGroupEmails": {
            "type": "boolean",
            "description": "Exclude group emails"
          },
          "excludeNonProfessionalEmails": {
            "type": "boolean",
            "description": "Exclude non professional emails"
          },
          "messageFolderImportPolicy": {
            "type": "string",
            "enum": [
              "ALL_FOLDERS",
              "SELECTED_FOLDERS"
            ],
            "description": "Message folder import policy"
          },
          "contactAutoCreationPolicy": {
            "type": "string",
            "enum": [
              "SENT_AND_RECEIVED",
              "SENT",
              "NONE"
            ],
            "description": "Automatically create People records when receiving or sending emails"
          },
          "isContactAutoCreationEnabled": {
            "type": "boolean",
            "description": "Is Contact Auto Creation Enabled"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ],
            "description": "Channel Type"
          },
          "handle": {
            "type": "string",
            "description": "Handle"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "METADATA",
              "SUBJECT",
              "SHARE_EVERYTHING"
            ],
            "description": "Visibility"
          },
          "connectedAccountId": {
            "type": "string",
            "format": "uuid"
          }
        },
        "example": {
          "syncStage": [
            "MESSAGE_LIST_FETCH_PENDING"
          ],
          "syncStatus": [
            "ONGOING"
          ],
          "messageFolderImportPolicy": [
            "ALL_FOLDERS"
          ],
          "contactAutoCreationPolicy": [
            "SENT_AND_RECEIVED"
          ],
          "type": [
            "email"
          ],
          "visibility": [
            "METADATA"
          ]
        }
      },
      "MessageChannelForUpdate": {
        "type": "object",
        "description": "Message Channels",
        "properties": {
          "throttleFailureCount": {
            "type": "integer",
            "description": "Throttle Failure Count"
          },
          "syncStageStartedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Sync stage started at"
          },
          "syncStage": {
            "type": "string",
            "enum": [
              "MESSAGE_LIST_FETCH_PENDING",
              "MESSAGE_LIST_FETCH_SCHEDULED",
              "MESSAGE_LIST_FETCH_ONGOING",
              "MESSAGES_IMPORT_PENDING",
              "MESSAGES_IMPORT_SCHEDULED",
              "MESSAGES_IMPORT_ONGOING",
              "FAILED",
              "FULL_MESSAGE_LIST_FETCH_PENDING",
              "PARTIAL_MESSAGE_LIST_FETCH_PENDING"
            ],
            "description": "Sync stage"
          },
          "syncStatus": {
            "type": "string",
            "enum": [
              "ONGOING",
              "NOT_SYNCED",
              "ACTIVE",
              "FAILED_INSUFFICIENT_PERMISSIONS",
              "FAILED_UNKNOWN"
            ],
            "description": "Sync status"
          },
          "syncedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Last sync date"
          },
          "syncCursor": {
            "type": "string",
            "description": "Last sync cursor"
          },
          "isSyncEnabled": {
            "type": "boolean",
            "description": "Is Sync Enabled"
          },
          "excludeGroupEmails": {
            "type": "boolean",
            "description": "Exclude group emails"
          },
          "excludeNonProfessionalEmails": {
            "type": "boolean",
            "description": "Exclude non professional emails"
          },
          "messageFolderImportPolicy": {
            "type": "string",
            "enum": [
              "ALL_FOLDERS",
              "SELECTED_FOLDERS"
            ],
            "description": "Message folder import policy"
          },
          "contactAutoCreationPolicy": {
            "type": "string",
            "enum": [
              "SENT_AND_RECEIVED",
              "SENT",
              "NONE"
            ],
            "description": "Automatically create People records when receiving or sending emails"
          },
          "isContactAutoCreationEnabled": {
            "type": "boolean",
            "description": "Is Contact Auto Creation Enabled"
          },
          "type": {
            "type": "string",
            "enum": [
              "email",
              "sms"
            ],
            "description": "Channel Type"
          },
          "handle": {
[...]
